{% extends "base.html" %}

{% block title %}
Dailo
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-container">
        <div class="hero-content">
            <div class="hero-text">
                <p class="hero-title">
                    Твой день. Твои цели. Твой прогресс.
                </p>
            </div>

            <div class="hero-subtitle">
                <p>Планируй день.</p>
                <p class="hero-subtitle-color">Развивай привычки.</p>
                <p>Создавай себя.</p>
            </div>

            <p class="hero-description">
                Dallo — это личный дашборд для задач и привычек с<br> интеграцией
                внешних сервисов. Всё, что нужно для<br> продуктивности, в одном месте.
            </p>

            <div class="btn-hero">
                <a href="#" class="btn btn-primary">Начать бесплатно</a>

                <a href="#about" class="btn btn-secondary">
                    <img src="{{ url_for('static', filename='img/icon/ligh_hero.png') }}" alt="Иконка">
                    <span>Узнать больше</span>
                </a>
            </div>
        </div>

        <div class="hero-info">
            <div class='hero-card'>
                <div class="today-date-card">
                    <!-- Добавить когда пользователь вошел в аккаунт
                     и базовую погоду
                     -->
                    <h2>Сегодня, {{ current_day }} <span class="accent-month">{{ current_month }}</span></h2>
                    <p>
                        Хорошего дня,
                        {% if current_user.is_authenticated %}
                        {{ current_user.username }}!
                        {% else %}
                        пользователь!
                        {% endif %}
                    </p>
                </div>

                <div class="weather-card">
                    <div class="today-weather">
                        <div class="weather-city">{{ current_weather_base.city }}</div>
                        <div class="weather-temp">{{ current_weather_base.temperature }}°C</div>
                    </div>

                    <div class="weather-status">
                        <img src="{{ current_weather_base.icon }}" alt="{{ current_weather_base.condition }}">
                        <div class="weather-condition">{{ current_weather_base.condition }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}>
